/*Emoticon Sprites*/
.spritesheet{ background:url(http://i.imgur.com/pWWe4gh.png); }

#sp-000-000{ background-position: 0px 0px; }
#sp-016-000{ background-position: -16px 0px; }
#sp-032-000{ background-position: -32px 0px; }
#sp-048-000{ background-position: -48px 0px; }
#sp-064-000{ background-position: -64px 0px; }
#sp-080-000{ background-position: -80px 0px; }
#sp-096-000{ background-position: -96px 0px; }
#sp-112-000{ background-position: -112px 0px; }
#sp-128-000{ background-position: -128px 0px; }
#sp-144-000{ background-position: -144px 0px; }
#sp-160-000{ background-position: -160px 0px; }
#sp-176-000{ background-position: -176px 0px; }

#sp-000-016{ background-position: 0px -16px; }
#sp-016-016{ background-position: -16px -16px; }
#sp-032-016{ background-position: -32px -16px; }
#sp-048-016{ background-position: -48px -16px; }
#sp-064-016{ background-position: -64px -16px; }
#sp-080-016{ background-position: -80px -16px; }
#sp-096-016{ background-position: -96px -16px; }
#sp-112-016{ background-position: -112px -16px; }

#sp-000-032{ background-position: 0px -32px; }
#sp-016-032{ background-position: -16px -32px; }
#sp-032-032{ background-position: -32px -32px; }
#sp-048-032{ background-position: -48px -32px; }
#sp-064-032{ background-position: -64px -32px; }

#sp-000-048{ background-position: 0px -48px; }
#sp-016-048{ background-position: -16px -48px; }
#sp-032-048{ background-position: -32px -48px; }
#sp-048-048{ background-position: -48px -48px; }
#sp-064-048{ background-position: -64px -48px; }

/*Miku39 Sprite*/
#amikum, #amikui, #amikuk, #amikuu, #amikusan, #amikukyuu {
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
    background:url(http://i.imgur.com/OElkrR6.png);
    border:none;
}

#amikum{ background-position: 0px 0px; }
#amikui{ background-position: -16px 0px; }
#amikuk{ background-position: -32px 0px; }
#amikuu{ background-position: -48px 0px; }
#amikusan{ background-position: -64px 0px; }
#amikukyuu{ background-position: -80px 0px; }

.amiku:hover, #amikum:hover, #amikui:hover, #amikuk:hover, #amikuu:hover, #amikusan:hover, #amikukyuu:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
    position: relative; 
    top: -3px;
}

/*fix width of dropdown*/
#caretDropdown {
    width: 162px;
    left:auto;
    right:0;
}
/*MOTD styling*/
/* remove weird motd header spacing */
h1,h2,h3,h4,h5,h6 {
margin-top: 0px;
margin-bottom: 0px;
}

/*Yukari js vocainfo thing*/
#qualitywrap {
margin-bottom: 30px;
}

#yukarin {
text-align: left;
word-wrap: break-word;
padding-top: 4px;
padding-bottom: 4px;

}
.vdbgray{
color: #7C7C7E;
font-size: 95%;

}

.vdb_btn {
display: inline;
}
/*some colors and stuff*/
.bold { font-weight: bold; }
.red { color: #FF0000; }
.pink { color: pink; }
.teal { color: teal; }
.wine { color: #d21838; }
.bleu { color: #4f81bd; }
.navy { color: #000080; }
.small { font-size: 80% }
.large { font-size: 120% }
.fuckhuge { font-size: 207px }

@keyframes textFadeInOut {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  56% { color: cyan; }
  70% { color: blue; }
  84% { color: magenta; }
  100% { color: red; }
}
@-webkit-keyframes textFadeInOut {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  56% { color: cyan; }
  70% { color: blue; }
  84% { color: magenta; }
  100% { color: red; }
}
.rainbow_animation {
    animation-name: textFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    -webkit-animation-name: textFadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-direction: alternate;
}

/*banner transition*/
.mmbanner_normal {
    -webkit-filter: grayscale(0%); 
    -moz-filter: grayscale(0%); 
    -ms-filter: grayscale(0%); 
    -o-filter: grayscale(0%); 
    filter: grayscale(0%); 
 }

.mmbanner_gray {
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%); 
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); 
    filter: grayscale(100%); 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

/*mirrors image*/
.mirror {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/*h1*/
#butter {
    font-size:2em;
    color:pink;
}
/*thread link*/
#mmthread {
    font-size:2em;
	color:green;
}

#vocanico {
    font-size:1.1em;
}

#qlockbtn {
    width: 8.3% !important;/*overrides element.style {width}*/
}

/*the GUMI on the bottom right*/
.gumigumi {
    position:relative;
    float:right;
}

body {
    background-repeat:no-repeat;
    background-position:top left, top left;
    background-attachment:fixed;
}

.poll-notify {
    color: #5555ff;
    font-size:70%;
}

.shout {
    font-size:100%;
    color:teal;
}

/* !important so mod colors don't show when changing theme
to dark, before required refresh. */
/*channel rank = 3-254*/
.userlist_owner {
    color: #0f904c;
    font-weight:normal;
}

/*channel rank = 2*/
.userlist_op {
    color: #0f904c;
    font-weight:normal;
}

/*channel rank = 1*/
.userlist_item {
    color: #0f904c;
    font-weight:normal;
}

#userlist {
    width: 130px;
}

.profile-image {
    image-rendering: auto;
    width: 150px;
    height: 150px;
}

.profile-box {
    max-width: 152px;
    color: black;
}

.center { float: none !important; margin-left: auto !important; margin-right: auto !important; }


/*centering banner, MOTD*/
#motd {
    text-align: center;
}

.banner1.span12 {
    text-align: center;
    margin-bottom:30px;
}

.banner1.span12 img{
    border: solid 1px black;
    
}

#mmbanner {
    max-height: 250px;
}

.well.span12 {
    background: rgba(245, 245, 245, 0.9);
    margin-left: auto;
    margin-right: auto;
}
/* MOTD show/hide styles */
#motdctrl {
 transition: background-color 0.4s, color 0.4s, border 0.4s;
 background-color: CadetBlue;
 color: white;
 border: 2px solid CadetBlue;
 font-weight: bold;
 padding: 5px;
 width: 200px;
 margin: auto;
}
#motdctrl:hover {
 transition: background-color 0.4s, color 0.4s, border 0.4s;
 background-color: white;
 color: CadetBlue;
 border: 2px solid CadetBlue;
 cursor: pointer;
}
