/* copy paste for pictureShow */
/*from: http://mattbango.com/notebook/code/hover-zoom-effect-with-jquery-and-css*/

/* --- Container configuration ---------------------------------------------------------- */
.viewport {
    border: 3px solid #eee;
    float: left;
    height: 420px;
    margin: 0px 14px 0px 14px;
    overflow: hidden;
    position: relative;
    width: 458px;
}

/* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
   class to the last thumbnail in each row to get rid of the margin-right. */
.no-margin {
    margin-right: 0;
}

/* --- Link configuration that contains the image and label ----------------------------- */
.viewport .aa {
    display: block;
    position: relative;
}

.viewport .aa img {
    height: 440px;
    left: -20px;
    position: relative;
    top: -20px;
    width: 478px;
}

/* --- Label configuration -------------------------------------------------------------- */
.viewport .aa span {
    display: none;
    font-size: 3.0em;
    font-weight: bold;
    height: 100%;
    padding-top: 120px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}
    .viewport .aa span em {
        display: block;
        font-size: 0.45em;
        font-weight: normal;
    }

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}
    .dark-background em {
        color: #ccc;
    }

/**
 * You could create multiple hover background classes for different looks depending on the
 * image type. Use your imagination!
 */