/* Main Style region */

.plcontrol-collapse {
    margin-right: 15px;
    margin-left: 15px;
    width: 96%;
}

#bottom-info {
    text-align: center;
    margin-top: 14px;
}

#motd {
    text-align: center;
}

/* !important so mod colors don't show when changing theme
to dark, before required refresh. */
/*channel rank = 3-254*/
.shout {
    font-size:110%;
    color:teal;
}

.userlist_owner {
    color: SeaGreen !important;
    font-weight:normal !important;
}

.userlist_op {
    color: SeaGreen !important;
    font-weight:normal !important;
}

.userlist_item {
    color:SeaGreen !important;
    font-weight:normal;
}

.profile-image {
    width: 150px;
    height: 150px;
}

.profile-box {
    max-width: 162px;
    color: black;
}
