.userlist_owner {
    color: SeaGreen !important;
    font-weight:normal !important;
}

.userlist_op {
    color: SeaGreen !important;
    font-weight:normal !important;
}

.userlist_item {
    color:SeaGreen !important;
    font-weight:normal;
}